@{
  Layout = "_Layout";
}

@model AnimalShelter.Models.Animal
@using AnimalShelter.Models;
<h4>Admit a new animal to the shelter</h4>
@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Name)
  @Html.TextBoxFor(model => model.Name, new {@class = "form-control"})
  @Html.LabelFor((model => model.Type))
  @Html.DropDownList("Type",
    new SelectList(Enum.GetValues(typeof(AnimalType))),
    "Select Type",
    new { @class = "form-control" })
  @Html.LabelFor((model => model.Gender))
  @Html.DropDownList("Gender",
    new SelectList(Enum.GetValues(typeof(AnimalGender)).Cast<AnimalGender>().Where(e => e != AnimalGender.Unknown)),
    "Select Gender",
    new { @class = "form-control" })
  @Html.LabelFor((model => model.Breed))
  @Html.TextBoxFor((model => model.Breed), new {@class = "form-control"})
  <input type="submit" value="Add New Animal" />
}
<p>@Html.ActionLink("Show All Animals", "Index")</p>