@using System;
@using AnimalShelter.Models;
@using System.Globalization;

@{
  Layout = "_Layout";
}

@model AnimalShelter.Models.Animal

<h2>Animal Details</h2>

<hr />
<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h3>
<h4>@Html.DisplayNameFor(model => model.Type): @Html.DisplayFor(model => model.Type)</h4>
<h4>@Html.DisplayNameFor(model => model.Breed): @Html.DisplayFor(model => model.Breed)</h4>
<h4>@Html.DisplayNameFor(model => model.Gender): @Html.DisplayFor(model => model.Gender)</h4>
<h4>Date of Admittance: @Html.ValueFor(model => model.DateOfAdmittance, "{0:MM/dd/yyyy}")</h4>
<p>@Html.ActionLink("Back to Animal List", "Index")</p>